@import './color-swatches.scss';

body {
    background-color: #dbf6e9;
    color: $dark-blue;
    h1,h2,h3,h4 {
        font-family: 'Press Start 2P', cursive;
    }
    font-family: 'Roboto Mono', monospace;
}

.App {
    text-align: center;
}

h1 {
    font-size: 57px;
}